[profile.default]
src = "src"
out = "out"
libs = ["lib"]
ffi = true 

[fuzz]
runs = 5000
max_test_rejects = 100000

[fmt]
bracket_spacing = true
int_types = "long"
line_length = 120
multiline_func_header = "params_first"
number_underscore = "thousands"
quote_style = "double"
tab_width = 4
wrap_comments = true
sort_imports = true

# See more config options https://github.com/foundry-rs/foundry/blob/master/crates/config/README.md#all-options
